.card__delete {
  display: none;

  width: 18px;
  height: 19px;

  position: absolute;
  right: 15px;
  top: 18px;

  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/gallery__delete.svg);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.card__delete:hover {
  opacity: 0.5;
  padding: 0;
}